<div class="">
	<h1>New foreignshipment</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/foreignshipment/create" method="post">
				<div class="">
					<label for="">placeOfLoading</label>
					<input type="text" name="placeOfLoading" value="" required="true">
				</div>
				<div class="">
					<label for="">placeOfUnloading</label>
					<input type="text" name="placeOfUnloading" value="" required="true">
				</div>
				<div class="">
					<label for="">customsName</label>
					<input type="text" name="customsName" value="" required="true">
				</div>
				<div class="">
					<label for="">route</label>
					<input type="text" name="route" value="" required="true">
				</div>
				<div class="">
					<label for="">foreignShipmentID</label>
					<input type="number" name="foreignShipmentID" value="" required="false">
				</div>
				<div class="">
					<label for="">billOfEntryID</label>
					<input type="number" name="billOfEntryID" value="" required="true">
				</div>
			<button type="submit">Save foreignshipment</button>
		</form>
		<br />
		<a href="/foreignshipment">Index</a>
	</div>
</div>
