<div class="">
	<h1>New employee</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/employee/create" method="post">
				<div class="">
					<label for="">joningDate</label>
					<input type="date" name="joningDate" value="" required="true">
				</div>
				<div class="">
					<label for="">leavingDate</label>
					<input type="date" name="leavingDate" value="" required="true">
				</div>
				<div class="">
					<label for="">status</label>
					<input type="text" name="status" value="" required="true">
				</div>
				<div class="">
					<label for="">designation</label>
					<input type="text" name="designation" value="" required="true">
				</div>
				<div class="">
					<label for="">employeeID</label>
					<input type="number" name="employeeID" value="" required="false">
				</div>
				<div class="">
					<label for="">warehouseID</label>
					<input type="number" name="warehouseID" value="" required="true">
				</div>
				<div class="">
					<label for="">departmentID</label>
					<input type="number" name="departmentID" value="" required="true">
				</div>
				<div class="">
					<label for="">branchID</label>
					<input type="number" name="branchID" value="" required="true">
				</div>
				<div class="">
					<label for="">factoryID</label>
					<input type="number" name="factoryID" value="" required="true">
				</div>
				<div class="">
					<label for="">organizationID</label>
					<input type="number" name="organizationID" value="" required="true">
				</div>
			<button type="submit">Save employee</button>
		</form>
		<br />
		<a href="/employee">Index</a>
	</div>
</div>
