<div class="">
	<h1>New localshipment</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/localshipment/create" method="post">
				<div class="">
					<label for="">localShipmentID</label>
					<input type="number" name="localShipmentID" value="" required="false">
				</div>
			<button type="submit">Save localshipment</button>
		</form>
		<br />
		<a href="/localshipment">Index</a>
	</div>
</div>
