<h1>Show localshipment</h1>

	<p>
		<strong>localShipmentID:</strong>
		<%= element.localShipmentID %>
	</p>

<br>
<a href="/localshipment/edit/<%= element.id %>">Edit</a>
<a href="/localshipment/create">New</a>
<a href="/localshipment">Back</a>
