<div class="">
	<h1>New purchaseorderdetails</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/purchaseorderdetails/create" method="post">
				<div class="">
					<label for="">itemID</label>
					<input type="number" name="itemID" value="" required="true">
				</div>
				<div class="">
					<label for="">quantity</label>
					<input type="number" name="quantity" value="" required="true">
				</div>
				<div class="">
					<label for="">unitPrice</label>
					<input type="number" name="unitPrice" value="" required="true">
				</div>
				<div class="">
					<label for="">weight</label>
					<input type="number" name="weight" value="" required="true">
				</div>
				<div class="">
					<label for="">purchaseOrderDetailsID</label>
					<input type="number" name="purchaseOrderDetailsID" value="" required="false">
				</div>
				<div class="">
					<label for="">purchaseOrderID</label>
					<input type="number" name="purchaseOrderID" value="" required="true">
				</div>
			<button type="submit">Save purchaseorderdetails</button>
		</form>
		<br />
		<a href="/purchaseorderdetails">Index</a>
	</div>
</div>
