<div class="">
	<h1>New shoppingcart</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/shoppingcart/create" method="post">
				<div class="">
					<label for="">itemId</label>
					<input type="number" name="itemId" value="" required="true">
				</div>
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="true">
				</div>
				<div class="">
					<label for="">quantity</label>
					<input type="number" name="quantity" value="" required="true">
				</div>
				<div class="">
					<label for="">shoppingCartID</label>
					<input type="number" name="shoppingCartID" value="" required="false">
				</div>
				<div class="">
					<label for="">clientAccountID</label>
					<input type="number" name="clientAccountID" value="" required="true">
				</div>
			<button type="submit">Save shoppingcart</button>
		</form>
		<br />
		<a href="/shoppingcart">Index</a>
	</div>
</div>
