<div class="">
	<h1>New customers</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/customers/create" method="post">
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="false">
				</div>
				<div class="">
					<label for="">firstname</label>
					<input type="text" name="firstname" value="" required="true">
				</div>
				<div class="">
					<label for="">lastname</label>
					<input type="text" name="lastname" value="" required="true">
				</div>
				<div class="">
					<label for="">age</label>
					<input type="number" name="age" value="" required="true">
				</div>
				<div class="">
					<label for="">createdAt</label>
					<input type="datetime" name="createdAt" value="" required="false">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="datetime" name="updatedAt" value="" required="false">
				</div>
			<button type="submit">Save customers</button>
		</form>
		<br />
		<a href="/customers">Index</a>
	</div>
</div>
