<div class="">
	<h1>New employmenthistory</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/employmenthistory/create" method="post">
				<div class="">
					<label for="">designation</label>
					<input type="text" name="designation" value="" required="true">
				</div>
				<div class="">
					<label for="">organizationName</label>
					<input type="text" name="organizationName" value="" required="true">
				</div>
				<div class="">
					<label for="">address</label>
					<input type="text" name="address" value="" required="true">
				</div>
				<div class="">
					<label for="">joiningDate</label>
					<input type="date" name="joiningDate" value="" required="true">
				</div>
				<div class="">
					<label for="">leavingDate</label>
					<input type="date" name="leavingDate" value="" required="true">
				</div>
				<div class="">
					<label for="">employmentHistoryID</label>
					<input type="number" name="employmentHistoryID" value="" required="false">
				</div>
				<div class="">
					<label for="">personID</label>
					<input type="number" name="personID" value="" required="true">
				</div>
			<button type="submit">Save employmenthistory</button>
		</form>
		<br />
		<a href="/employmenthistory">Index</a>
	</div>
</div>
