<h1>Show vwCustomerPaymentDue</h1>

	<p>
		<strong>clientAccountID:</strong>
		<%= element.clientAccountID %>
	</p>
	<p>
		<strong>due:</strong>
		<%= element.due %>
	</p>

<br>
<a href="/vwCustomerPaymentDue/edit/<%= element.id %>">Edit</a>
<a href="/vwCustomerPaymentDue/create">New</a>
<a href="/vwCustomerPaymentDue">Back</a>
