<div class="">
	<h1>New monthly</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/monthly/create" method="post">
				<div class="">
					<label for="">basicSalary</label>
					<input type="number" name="basicSalary" value="" required="true">
				</div>
				<div class="">
					<label for="">convince</label>
					<input type="number" name="convince" value="" required="true">
				</div>
				<div class="">
					<label for="">festivalBonus</label>
					<input type="number" name="festivalBonus" value="" required="true">
				</div>
				<div class="">
					<label for="">houseRent</label>
					<input type="number" name="houseRent" value="" required="true">
				</div>
				<div class="">
					<label for="">medicalAllowance</label>
					<input type="number" name="medicalAllowance" value="" required="true">
				</div>
				<div class="">
					<label for="">otherAllowance</label>
					<input type="number" name="otherAllowance" value="" required="true">
				</div>
				<div class="">
					<label for="">increment</label>
					<input type="number" name="increment" value="" required="true">
				</div>
				<div class="">
					<label for="">monthlyID</label>
					<input type="number" name="monthlyID" value="" required="false">
				</div>
			<button type="submit">Save monthly</button>
		</form>
		<br />
		<a href="/monthly">Index</a>
	</div>
</div>
