<div class="">
  <h1>New joinclienttoitem</h1>

  <div class="body">
    <form class="" action="/joinclienttoitem/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">itemID</label>
          <input type="number" name="itemID" value="<%= element.itemID %>" required="false">
        </div>
        <div class="">
          <label for="">clientID</label>
          <input type="number" name="clientID" value="<%= element.clientID %>" required="false">
        </div>
      <button type="submit">Update joinclienttoitem</button>
    </form>
    <br />
    <a href="/joinclienttoitem">Index</a>
  </div>
</div>