<h1>Show joinclienttoitem</h1>

	<p>
		<strong>itemID:</strong>
		<%= element.itemID %>
	</p>
	<p>
		<strong>clientID:</strong>
		<%= element.clientID %>
	</p>

<br>
<a href="/joinclienttoitem/edit/<%= element.id %>">Edit</a>
<a href="/joinclienttoitem/create">New</a>
<a href="/joinclienttoitem">Back</a>
