<div class="">
	<h1>New vwIndividualSupplier</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/vwIndividualSupplier/create" method="post">
				<div class="">
					<label for="">supplierID</label>
					<input type="number" name="supplierID" value="" required="true">
				</div>
				<div class="">
					<label for="">departmentID</label>
					<input type="number" name="departmentID" value="" required="true">
				</div>
				<div class="">
					<label for="">subSidiaryAccountID</label>
					<input type="number" name="subSidiaryAccountID" value="" required="true">
				</div>
				<div class="">
					<label for="">type</label>
					<input type="text" name="type" value="" required="true">
				</div>
				<div class="">
					<label for="">organizationID</label>
					<input type="number" name="organizationID" value="" required="true">
				</div>
				<div class="">
					<label for="">title</label>
					<input type="text" name="title" value="" required="true">
				</div>
				<div class="">
					<label for="">firstName</label>
					<input type="text" name="firstName" value="" required="true">
				</div>
				<div class="">
					<label for="">lastName</label>
					<input type="text" name="lastName" value="" required="true">
				</div>
				<div class="">
					<label for="">dateOfBirth</label>
					<input type="date" name="dateOfBirth" value="" required="true">
				</div>
				<div class="">
					<label for="">gender</label>
					<input type="text" name="gender" value="" required="true">
				</div>
				<div class="">
					<label for="">emailAddress</label>
					<input type="text" name="emailAddress" value="" required="true">
				</div>
				<div class="">
					<label for="">mobileNo</label>
					<input type="text" name="mobileNo" value="" required="true">
				</div>
				<div class="">
					<label for="">maritalStatus</label>
					<input type="text" name="maritalStatus" value="" required="true">
				</div>
			<button type="submit">Save vwIndividualSupplier</button>
		</form>
		<br />
		<a href="/vwIndividualSupplier">Index</a>
	</div>
</div>
