<div class="">
	<h1>New customerorder</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/customerorder/create" method="post">
				<div class="">
					<label for="">discount</label>
					<input type="number" name="discount" value="" required="true">
				</div>
				<div class="">
					<label for="">orderDate</label>
					<input type="datetime" name="orderDate" value="" required="true">
				</div>
				<div class="">
					<label for="">receiveDate</label>
					<input type="datetime" name="receiveDate" value="" required="true">
				</div>
				<div class="">
					<label for="">status</label>
					<input type="text" name="status" value="" required="true">
				</div>
				<div class="">
					<label for="">orderTotal</label>
					<input type="number" name="orderTotal" value="" required="true">
				</div>
				<div class="">
					<label for="">customerOrderID</label>
					<input type="number" name="customerOrderID" value="" required="false">
				</div>
				<div class="">
					<label for="">clientAccountID</label>
					<input type="number" name="clientAccountID" value="" required="true">
				</div>
				<div class="">
					<label for="">employeeID</label>
					<input type="number" name="employeeID" value="" required="true">
				</div>
			<button type="submit">Save customerorder</button>
		</form>
		<br />
		<a href="/customerorder">Index</a>
	</div>
</div>
