<div class="">
	<h1>New department</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/department/create" method="post">
				<div class="">
					<label for="">contactNo</label>
					<input type="text" name="contactNo" value="" required="true">
				</div>
				<div class="">
					<label for="">departmentName</label>
					<input type="text" name="departmentName" value="" required="true">
				</div>
				<div class="">
					<label for="">location</label>
					<input type="text" name="location" value="" required="true">
				</div>
				<div class="">
					<label for="">emailAddress</label>
					<input type="text" name="emailAddress" value="" required="true">
				</div>
				<div class="">
					<label for="">branchID</label>
					<input type="number" name="branchID" value="" required="false">
				</div>
				<div class="">
					<label for="">departmentID</label>
					<input type="number" name="departmentID" value="" required="false">
				</div>
				<div class="">
					<label for="">organizationID</label>
					<input type="number" name="organizationID" value="" required="false">
				</div>
				<div class="">
					<label for="">createdAt</label>
					<input type="" name="createdAt" value="" required="true">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="" name="updatedAt" value="" required="true">
				</div>
			<button type="submit">Save department</button>
		</form>
		<br />
		<a href="/department">Index</a>
	</div>
</div>
