<div class="">
	<h1>New foreignvehicle</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/foreignvehicle/create" method="post">
				<div class="">
					<label for="">nationality</label>
					<input type="text" name="nationality" value="" required="true">
				</div>
				<div class="">
					<label for="">passportNo</label>
					<input type="text" name="passportNo" value="" required="true">
				</div>
				<div class="">
					<label for="">foreignVehicleID</label>
					<input type="number" name="foreignVehicleID" value="" required="false">
				</div>
				<div class="">
					<label for="">foreignShipmentID</label>
					<input type="number" name="foreignShipmentID" value="" required="true">
				</div>
			<button type="submit">Save foreignvehicle</button>
		</form>
		<br />
		<a href="/foreignvehicle">Index</a>
	</div>
</div>
