<div class="">
	<h1>New delivery</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/delivery/create" method="post">
				<div class="">
					<label for="">deliveryID</label>
					<input type="number" name="deliveryID" value="" required="false">
				</div>
				<div class="">
					<label for="">customerOrderID</label>
					<input type="number" name="customerOrderID" value="" required="false">
				</div>
			<button type="submit">Save delivery</button>
		</form>
		<br />
		<a href="/delivery">Index</a>
	</div>
</div>
