<h1>Show delivery</h1>

	<p>
		<strong>deliveryID:</strong>
		<%= element.deliveryID %>
	</p>
	<p>
		<strong>customerOrderID:</strong>
		<%= element.customerOrderID %>
	</p>

<br>
<a href="/delivery/edit/<%= element.id %>">Edit</a>
<a href="/delivery/create">New</a>
<a href="/delivery">Back</a>
