<div class="">
	<h1>New supplier</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/supplier/create" method="post">
				<div class="">
					<label for="">supplierID</label>
					<input type="number" name="supplierID" value="" required="false">
				</div>
				<div class="">
					<label for="">departmentID</label>
					<input type="number" name="departmentID" value="" required="true">
				</div>
				<div class="">
					<label for="">subSidiaryAccountID</label>
					<input type="number" name="subSidiaryAccountID" value="" required="true">
				</div>
				<div class="">
					<label for="">type</label>
					<input type="text" name="type" value="" required="true">
				</div>
				<div class="">
					<label for="">category</label>
					<input type="text" name="category" value="" required="true">
				</div>
			<button type="submit">Save supplier</button>
		</form>
		<br />
		<a href="/supplier">Index</a>
	</div>
</div>
