<div class="">
	<h1>New increment</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/increment/create" method="post">
				<div class="">
					<label for="">increaseAmount</label>
					<input type="number" name="increaseAmount" value="" required="true">
				</div>
				<div class="">
					<label for="">inseresedDate</label>
					<input type="date" name="inseresedDate" value="" required="true">
				</div>
				<div class="">
					<label for="">incrementID</label>
					<input type="number" name="incrementID" value="" required="false">
				</div>
				<div class="">
					<label for="">monthlyID</label>
					<input type="number" name="monthlyID" value="" required="true">
				</div>
			<button type="submit">Save increment</button>
		</form>
		<br />
		<a href="/increment">Index</a>
	</div>
</div>
