<div class="">
	<h1>New supplyitem</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/supplyitem/create" method="post">
				<div class="">
					<label for="">clientID</label>
					<input type="number" name="clientID" value="" required="false">
				</div>
			<button type="submit">Save supplyitem</button>
		</form>
		<br />
		<a href="/supplyitem">Index</a>
	</div>
</div>
