<h1>Show supplyitem</h1>

	<p>
		<strong>clientID:</strong>
		<%= element.clientID %>
	</p>

<br>
<a href="/supplyitem/edit/<%= element.id %>">Edit</a>
<a href="/supplyitem/create">New</a>
<a href="/supplyitem">Back</a>
