<div class="">
	<h1>New referees</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/referees/create" method="post">
				<div class="">
					<label for="">title</label>
					<input type="text" name="title" value="" required="true">
				</div>
				<div class="">
					<label for="">fullName</label>
					<input type="text" name="fullName" value="" required="true">
				</div>
				<div class="">
					<label for="">position</label>
					<input type="text" name="position" value="" required="true">
				</div>
				<div class="">
					<label for="">organization</label>
					<input type="text" name="organization" value="" required="true">
				</div>
				<div class="">
					<label for="">relation</label>
					<input type="text" name="relation" value="" required="true">
				</div>
				<div class="">
					<label for="">refereesID</label>
					<input type="number" name="refereesID" value="" required="false">
				</div>
				<div class="">
					<label for="">personID</label>
					<input type="number" name="personID" value="" required="true">
				</div>
			<button type="submit">Save referees</button>
		</form>
		<br />
		<a href="/referees">Index</a>
	</div>
</div>
