<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Client List
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Active</th> 
              <th>AccountCreditLimit</th> 
                  <th>Orderno</th> 
                  <th>OrderDate</th> 
                  <th>Discount</th> 
                  <th>OrderTotal</th> 
                 
                  <th>PaymentDate</th> 
                  <th>Amount</th>                
              <th>Action</th>
            </tr>
          </thead>
          <tbody>            
              <tr *ngFor="let b of customer">
                  <td>{{b.accountNo}}</td>
                  <td>{{b.accountName}}</td> 
                  <td>{{b.active}}</td> 
                  <td>{{b.accountCreditLimit}}</td> 
                  <td>{{b.customerOrderID}}</td> 
                  <td>{{b.orderDate}}</td> 
                  <td>{{b.discount}}</td> 
                  <td>{{b.orderTotal}}</td> 
                  
                  <td>{{b.paymentDate}}</td> 
                  <td>{{b.amount}}</td> 
                  
                  
                  <td>                                                                 
                      <a button type="button" class="btn btn-info btn-sm" (click)="invoicePdf(b.customerOrderID)"><i class="icon-arrow-down-circled"></i></a>                                         
                      <a button type="button" class="btn btn-info btn-sm" (click)="print()"><i class="icon-printer"></i></a>                                         
                      <a button type="button" class="btn btn-danger btn-sm" (click)="deleteOrder()"><i class="icon-trash"></i></a>
                  </td>    
          
            </tr>         
                    
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>