<div class="card">
        <div class="card-header">
          <strong>Payment</strong> Bill
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
                <h2>Clients</h2>
            <ul class="heroes">
                <li *ngFor="let c of customer"
                  [class.selected]="c === selectedCustomer"
                  (click)="onSelect(c)">
                  <span class="badge">{{c.clientAccountID}}</span> {{c.accountName}}
                </li>
              </ul>                 
        </div>
         <div class="col-md-8">      
            <h2></h2>
          <form action="" method="post" class="form-horizontal">
              <app-paymentdetails [c]="selectedCustomer"
              [duePayment]="due"
              [order]="orders"
              (shareDataToParent) = shareDataToParent($event)
              ></app-paymentdetails>  
          
          </form>
          <div class="form-group col-sm-12">  
              
              </div>
             
            </div>
          </div>
        </div>
        <div class="card-footer">
            </div>
      </div>
    