<div class="">
	<h1>New factory</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/factory/create" method="post">
				<div class="">
					<label for="">address</label>
					<input type="text" name="address" value="" required="true">
				</div>
				<div class="">
					<label for="">factoryName</label>
					<input type="text" name="factoryName" value="" required="true">
				</div>
				<div class="">
					<label for="">contactNo</label>
					<input type="text" name="contactNo" value="" required="true">
				</div>
				<div class="">
					<label for="">emailAddress</label>
					<input type="text" name="emailAddress" value="" required="true">
				</div>
				<div class="">
					<label for="">factoryID</label>
					<input type="number" name="factoryID" value="" required="false">
				</div>
				<div class="">
					<label for="">employeeID</label>
					<input type="number" name="employeeID" value="" required="true">
				</div>
				<div class="">
					<label for="">warehouseID</label>
					<input type="number" name="warehouseID" value="" required="true">
				</div>
				<div class="">
					<label for="">organizationID</label>
					<input type="number" name="organizationID" value="" required="false">
				</div>
				<div class="">
					<label for="">createdAt</label>
					<input type="" name="createdAt" value="" required="true">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="" name="updatedAt" value="" required="true">
				</div>
			<button type="submit">Save factory</button>
		</form>
		<br />
		<a href="/factory">Index</a>
	</div>
</div>
