<div class="">
	<h1>New branch</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/branch/create" method="post">
				<div class="">
					<label for="">address</label>
					<input type="text" name="address" value="" required="true">
				</div>
				<div class="">
					<label for="">branchName</label>
					<input type="text" name="branchName" value="" required="true">
				</div>
				<div class="">
					<label for="">contactNo</label>
					<input type="text" name="contactNo" value="" required="true">
				</div>
				<div class="">
					<label for="">emailAddress</label>
					<input type="text" name="emailAddress" value="" required="true">
				</div>
				<div class="">
					<label for="">branchID</label>
					<input type="number" name="branchID" value="" required="false">
				</div>
				<div class="">
					<label for="">organizationID</label>
					<input type="number" name="organizationID" value="" required="false">
				</div>
				<div class="">
					<label for="">employeeID</label>
					<input type="number" name="employeeID" value="" required="true">
				</div>
				<div class="">
					<label for="">city</label>
					<input type="text" name="city" value="" required="true">
				</div>
				<div class="">
					<label for="">country</label>
					<input type="text" name="country" value="" required="true">
				</div>
				<div class="">
					<label for="">createdAt</label>
					<input type="" name="createdAt" value="" required="true">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="" name="updatedAt" value="" required="true">
				</div>
			<button type="submit">Save branch</button>
		</form>
		<br />
		<a href="/branch">Index</a>
	</div>
</div>
