<h1>Show joinitemtowarehouse</h1>

	<p>
		<strong>warehouseID:</strong>
		<%= element.warehouseID %>
	</p>
	<p>
		<strong>itemID:</strong>
		<%= element.itemID %>
	</p>

<br>
<a href="/joinitemtowarehouse/edit/<%= element.id %>">Edit</a>
<a href="/joinitemtowarehouse/create">New</a>
<a href="/joinitemtowarehouse">Back</a>
