<div class="">
	<h1>New hourly</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/hourly/create" method="post">
				<div class="">
					<label for="">hourlyWages</label>
					<input type="number" name="hourlyWages" value="" required="true">
				</div>
				<div class="">
					<label for="">hourlyID</label>
					<input type="number" name="hourlyID" value="" required="false">
				</div>
			<button type="submit">Save hourly</button>
		</form>
		<br />
		<a href="/hourly">Index</a>
	</div>
</div>
