<h1>Show hourly</h1>

	<p>
		<strong>hourlyWages:</strong>
		<%= element.hourlyWages %>
	</p>
	<p>
		<strong>hourlyID:</strong>
		<%= element.hourlyID %>
	</p>

<br>
<a href="/hourly/edit/<%= element.id %>">Edit</a>
<a href="/hourly/create">New</a>
<a href="/hourly">Back</a>
