<h1>Show joinshipmenttoitem</h1>

	<p>
		<strong>itemID:</strong>
		<%= element.itemID %>
	</p>
	<p>
		<strong>shipmentID:</strong>
		<%= element.shipmentID %>
	</p>
	<p>
		<strong>quantity:</strong>
		<%= element.quantity %>
	</p>

<br>
<a href="/joinshipmenttoitem/edit/<%= element.id %>">Edit</a>
<a href="/joinshipmenttoitem/create">New</a>
<a href="/joinshipmenttoitem">Back</a>
