<div class="">
	<h1>New chartofaccount</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/chartofaccount/create" method="post">
				<div class="">
					<label for="">categoryType</label>
					<input type="text" name="categoryType" value="" required="true">
				</div>
				<div class="">
					<label for="">accountName</label>
					<input type="text" name="accountName" value="" required="true">
				</div>
				<div class="">
					<label for="">desription</label>
					<input type="text" name="desription" value="" required="true">
				</div>
				<div class="">
					<label for="">underCategory</label>
					<input type="text" name="underCategory" value="" required="true">
				</div>
				<div class="">
					<label for="">natureType</label>
					<input type="text" name="natureType" value="" required="true">
				</div>
				<div class="">
					<label for="">chartOfAccountID</label>
					<input type="number" name="chartOfAccountID" value="" required="false">
				</div>
			<button type="submit">Save chartofaccount</button>
		</form>
		<br />
		<a href="/chartofaccount">Index</a>
	</div>
</div>
