<div class="">
	<h1>New orderdetails</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/orderdetails/create" method="post">
				<div class="">
					<label for="">discount</label>
					<input type="number" name="discount" value="" required="true">
				</div>
				<div class="">
					<label for="">quantity</label>
					<input type="number" name="quantity" value="" required="true">
				</div>
				<div class="">
					<label for="">unitPrice</label>
					<input type="number" name="unitPrice" value="" required="true">
				</div>
				<div class="">
					<label for="">total</label>
					<input type="number" name="total" value="" required="true">
				</div>
				<div class="">
					<label for="">orderDetailsID</label>
					<input type="number" name="orderDetailsID" value="" required="false">
				</div>
				<div class="">
					<label for="">customerOrderID</label>
					<input type="number" name="customerOrderID" value="" required="false">
				</div>
				<div class="">
					<label for="">itemID</label>
					<input type="number" name="itemID" value="" required="false">
				</div>
			<button type="submit">Save orderdetails</button>
		</form>
		<br />
		<a href="/orderdetails">Index</a>
	</div>
</div>
