<div class="">
	<h1>New vwCustomerOrder</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/vwCustomerOrder/create" method="post">
				<div class="">
					<label for="">clientAccountID</label>
					<input type="number" name="clientAccountID" value="" required="true">
				</div>
				<div class="">
					<label for="">accountName</label>
					<input type="text" name="accountName" value="" required="true">
				</div>
				<div class="">
					<label for="">active</label>
					<input type="checkbox" name="active" value="" required="true">
				</div>
				<div class="">
					<label for="">suspended</label>
					<input type="checkbox" name="suspended" value="" required="true">
				</div>
				<div class="">
					<label for="">accountCreditLimit</label>
					<input type="number" name="accountCreditLimit" value="" required="true">
				</div>
				<div class="">
					<label for="">customerOrderID</label>
					<input type="number" name="customerOrderID" value="" required="true">
				</div>
				<div class="">
					<label for="">status</label>
					<input type="text" name="status" value="" required="true">
				</div>
				<div class="">
					<label for="">orderDate</label>
					<input type="datetime" name="orderDate" value="" required="true">
				</div>
				<div class="">
					<label for="">discount</label>
					<input type="number" name="discount" value="" required="true">
				</div>
				<div class="">
					<label for="">orderTotal</label>
					<input type="number" name="orderTotal" value="" required="true">
				</div>
				<div class="">
					<label for="">paymentDate</label>
					<input type="date" name="paymentDate" value="" required="true">
				</div>
				<div class="">
					<label for="">amount</label>
					<input type="number" name="amount" value="" required="true">
				</div>
			<button type="submit">Save vwCustomerOrder</button>
		</form>
		<br />
		<a href="/vwCustomerOrder">Index</a>
	</div>
</div>
