<div class="">
	<h1>New vwCorporateSupplier</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/vwCorporateSupplier/create" method="post">
				<div class="">
					<label for="">supplierID</label>
					<input type="number" name="supplierID" value="" required="true">
				</div>
				<div class="">
					<label for="">departmentID</label>
					<input type="number" name="departmentID" value="" required="true">
				</div>
				<div class="">
					<label for="">subSidiaryAccountID</label>
					<input type="number" name="subSidiaryAccountID" value="" required="true">
				</div>
				<div class="">
					<label for="">type</label>
					<input type="text" name="type" value="" required="true">
				</div>
				<div class="">
					<label for="">organizationID</label>
					<input type="number" name="organizationID" value="" required="true">
				</div>
				<div class="">
					<label for="">companyName</label>
					<input type="text" name="companyName" value="" required="true">
				</div>
				<div class="">
					<label for="">contactPersonName</label>
					<input type="text" name="contactPersonName" value="" required="true">
				</div>
				<div class="">
					<label for="">designation</label>
					<input type="text" name="designation" value="" required="true">
				</div>
				<div class="">
					<label for="">contactNo</label>
					<input type="text" name="contactNo" value="" required="true">
				</div>
				<div class="">
					<label for="">emailAddress</label>
					<input type="text" name="emailAddress" value="" required="true">
				</div>
				<div class="">
					<label for="">website</label>
					<input type="text" name="website" value="" required="true">
				</div>
			<button type="submit">Save vwCorporateSupplier</button>
		</form>
		<br />
		<a href="/vwCorporateSupplier">Index</a>
	</div>
</div>
