<div class="">
	<h1>New disbusrmentpayment</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/disbusrmentpayment/create" method="post">
				<div class="">
					<label for="">paymentMadeBy</label>
					<input type="text" name="paymentMadeBy" value="" required="true">
				</div>
				<div class="">
					<label for="">remarks</label>
					<input type="text" name="remarks" value="" required="true">
				</div>
				<div class="">
					<label for="">disbusrmentPaymentID</label>
					<input type="number" name="disbusrmentPaymentID" value="" required="false">
				</div>
				<div class="">
					<label for="">employeeID</label>
					<input type="number" name="employeeID" value="" required="true">
				</div>
				<div class="">
					<label for="">payrollID</label>
					<input type="number" name="payrollID" value="" required="false">
				</div>
			<button type="submit">Save disbusrmentpayment</button>
		</form>
		<br />
		<a href="/disbusrmentpayment">Index</a>
	</div>
</div>
