<div class="">
	<h1>New salescontract</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/salescontract/create" method="post">
				<div class="">
					<label for="">paymentTerms</label>
					<input type="text" name="paymentTerms" value="" required="true">
				</div>
				<div class="">
					<label for="">import</label>
					<input type="checkbox" name="import" value="" required="true">
				</div>
				<div class="">
					<label for="">bankName</label>
					<input type="text" name="bankName" value="" required="true">
				</div>
				<div class="">
					<label for="">contractNo</label>
					<input type="text" name="contractNo" value="" required="true">
				</div>
				<div class="">
					<label for="">date</label>
					<input type="date" name="date" value="" required="true">
				</div>
				<div class="">
					<label for="">deliveryPeriodFrom</label>
					<input type="date" name="deliveryPeriodFrom" value="" required="true">
				</div>
				<div class="">
					<label for="">deliveryPeriodTo</label>
					<input type="date" name="deliveryPeriodTo" value="" required="true">
				</div>
				<div class="">
					<label for="">iECNo</label>
					<input type="text" name="iECNo" value="" required="true">
				</div>
				<div class="">
					<label for="">route</label>
					<input type="text" name="route" value="" required="true">
				</div>
				<div class="">
					<label for="">determinationOfMeserment</label>
					<input type="text" name="determinationOfMeserment" value="" required="true">
				</div>
				<div class="">
					<label for="">modeOfTransport</label>
					<input type="text" name="modeOfTransport" value="" required="true">
				</div>
				<div class="">
					<label for="">paymentMethod</label>
					<input type="text" name="paymentMethod" value="" required="true">
				</div>
				<div class="">
					<label for="">salesContractID</label>
					<input type="number" name="salesContractID" value="" required="false">
				</div>
				<div class="">
					<label for="">letterCreditID</label>
					<input type="number" name="letterCreditID" value="" required="true">
				</div>
				<div class="">
					<label for="">witnessID</label>
					<input type="number" name="witnessID" value="" required="true">
				</div>
				<div class="">
					<label for="">internationalID</label>
					<input type="number" name="internationalID" value="" required="true">
				</div>
			<button type="submit">Save salescontract</button>
		</form>
		<br />
		<a href="/salescontract">Index</a>
	</div>
</div>
