<div class="">
	<h1>New wages</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/wages/create" method="post">
				<div class="">
					<label for="">grossIncome</label>
					<input type="number" name="grossIncome" value="" required="true">
				</div>
				<div class="">
					<label for="">netIncome</label>
					<input type="number" name="netIncome" value="" required="true">
				</div>
				<div class="">
					<label for="">overtime</label>
					<input type="number" name="overtime" value="" required="true">
				</div>
				<div class="">
					<label for="">status</label>
					<input type="text" name="status" value="" required="true">
				</div>
				<div class="">
					<label for="">totalCommission</label>
					<input type="number" name="totalCommission" value="" required="true">
				</div>
				<div class="">
					<label for="">totalHour</label>
					<input type="number" name="totalHour" value="" required="true">
				</div>
				<div class="">
					<label for="">wagesID</label>
					<input type="number" name="wagesID" value="" required="false">
				</div>
				<div class="">
					<label for="">payrollID</label>
					<input type="number" name="payrollID" value="" required="false">
				</div>
				<div class="">
					<label for="">salaryProfileID</label>
					<input type="number" name="salaryProfileID" value="" required="false">
				</div>
			<button type="submit">Save wages</button>
		</form>
		<br />
		<a href="/wages">Index</a>
	</div>
</div>
