<div class="">
	<h1>New image</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/image/create" method="post">
				<div class="">
					<label for="">photo</label>
					<input type="" name="photo" value="" required="true">
				</div>
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="false">
				</div>
			<button type="submit">Save image</button>
		</form>
		<br />
		<a href="/image">Index</a>
	</div>
</div>
