<div class="">
	<h1>New joinownertoorganization</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/joinownertoorganization/create" method="post">
				<div class="">
					<label for="">organizationID</label>
					<input type="number" name="organizationID" value="" required="false">
				</div>
				<div class="">
					<label for="">ownerID</label>
					<input type="number" name="ownerID" value="" required="true">
				</div>
			<button type="submit">Save joinownertoorganization</button>
		</form>
		<br />
		<a href="/joinownertoorganization">Index</a>
	</div>
</div>
