<h1>Show joinownertoorganization</h1>

	<p>
		<strong>organizationID:</strong>
		<%= element.organizationID %>
	</p>
	<p>
		<strong>ownerID:</strong>
		<%= element.ownerID %>
	</p>

<br>
<a href="/joinownertoorganization/edit/<%= element.id %>">Edit</a>
<a href="/joinownertoorganization/create">New</a>
<a href="/joinownertoorganization">Back</a>
