<div class="">
	<h1>New vwAJournal</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/vwAJournal/create" method="post">
				<div class="">
					<label for="">branchID</label>
					<input type="number" name="branchID" value="" required="true">
				</div>
				<div class="">
					<label for="">date</label>
					<input type="date" name="date" value="" required="true">
				</div>
				<div class="">
					<label for="">transactionID</label>
					<input type="number" name="transactionID" value="" required="true">
				</div>
				<div class="">
					<label for="">transactionTitle</label>
					<input type="text" name="transactionTitle" value="" required="true">
				</div>
				<div class="">
					<label for="">categoryType</label>
					<input type="text" name="categoryType" value="" required="true">
				</div>
				<div class="">
					<label for="">accountName</label>
					<input type="text" name="accountName" value="" required="true">
				</div>
				<div class="">
					<label for="">journalID</label>
					<input type="number" name="journalID" value="" required="true">
				</div>
				<div class="">
					<label for="">financialYearID</label>
					<input type="number" name="financialYearID" value="" required="true">
				</div>
				<div class="">
					<label for="">debitCredit</label>
					<input type="text" name="debitCredit" value="" required="true">
				</div>
				<div class="">
					<label for="">amount</label>
					<input type="number" name="amount" value="" required="true">
				</div>
			<button type="submit">Save vwAJournal</button>
		</form>
		<br />
		<a href="/vwAJournal">Index</a>
	</div>
</div>
