<div class="">
	<h1>New payroll</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/payroll/create" method="post">
				<div class="">
					<label for="">approve</label>
					<input type="date" name="approve" value="" required="true">
				</div>
				<div class="">
					<label for="">payDate</label>
					<input type="date" name="payDate" value="" required="true">
				</div>
				<div class="">
					<label for="">payFrom</label>
					<input type="date" name="payFrom" value="" required="true">
				</div>
				<div class="">
					<label for="">payTo</label>
					<input type="date" name="payTo" value="" required="true">
				</div>
				<div class="">
					<label for="">prepeareDate</label>
					<input type="date" name="prepeareDate" value="" required="true">
				</div>
				<div class="">
					<label for="">status</label>
					<input type="text" name="status" value="" required="true">
				</div>
				<div class="">
					<label for="">tax</label>
					<input type="number" name="tax" value="" required="true">
				</div>
				<div class="">
					<label for="">totalGrossPay</label>
					<input type="number" name="totalGrossPay" value="" required="true">
				</div>
				<div class="">
					<label for="">totalNetPay</label>
					<input type="number" name="totalNetPay" value="" required="true">
				</div>
				<div class="">
					<label for="">chartOfAccountID</label>
					<input type="number" name="chartOfAccountID" value="" required="true">
				</div>
				<div class="">
					<label for="">payrollID</label>
					<input type="number" name="payrollID" value="" required="false">
				</div>
				<div class="">
					<label for="">employeeID</label>
					<input type="number" name="employeeID" value="" required="true">
				</div>
			<button type="submit">Save payroll</button>
		</form>
		<br />
		<a href="/payroll">Index</a>
	</div>
</div>
