<div class="">
	<h1>New clientaccount</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/clientaccount/create" method="post">
				<div class="">
					<label for="">accountName</label>
					<input type="text" name="accountName" value="" required="true">
				</div>
				<div class="">
					<label for="">accountNo</label>
					<input type="text" name="accountNo" value="" required="true">
				</div>
				<div class="">
					<label for="">joiningDate</label>
					<input type="date" name="joiningDate" value="" required="true">
				</div>
				<div class="">
					<label for="">active</label>
					<input type="checkbox" name="active" value="" required="true">
				</div>
				<div class="">
					<label for="">suspended</label>
					<input type="checkbox" name="suspended" value="" required="true">
				</div>
				<div class="">
					<label for="">accountCreditLimit</label>
					<input type="number" name="accountCreditLimit" value="" required="true">
				</div>
				<div class="">
					<label for="">remarks</label>
					<input type="text" name="remarks" value="" required="true">
				</div>
				<div class="">
					<label for="">clientAccountID</label>
					<input type="number" name="clientAccountID" value="" required="false">
				</div>
				<div class="">
					<label for="">clientID</label>
					<input type="number" name="clientID" value="" required="true">
				</div>
				<div class="">
					<label for="">organizationID</label>
					<input type="number" name="organizationID" value="" required="true">
				</div>
			<button type="submit">Save clientaccount</button>
		</form>
		<br />
		<a href="/clientaccount">Index</a>
	</div>
</div>
