<div class="">
	<h1>New owner</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/owner/create" method="post">
				<div class="">
					<label for="">designation</label>
					<input type="text" name="designation" value="" required="true">
				</div>
				<div class="">
					<label for="">ownerPercentage</label>
					<input type="number" name="ownerPercentage" value="" required="true">
				</div>
				<div class="">
					<label for="">ownerID</label>
					<input type="number" name="ownerID" value="" required="false">
				</div>
			<button type="submit">Save owner</button>
		</form>
		<br />
		<a href="/owner">Index</a>
	</div>
</div>
