<h1>Show owner</h1>

	<p>
		<strong>designation:</strong>
		<%= element.designation %>
	</p>
	<p>
		<strong>ownerPercentage:</strong>
		<%= element.ownerPercentage %>
	</p>
	<p>
		<strong>ownerID:</strong>
		<%= element.ownerID %>
	</p>

<br>
<a href="/owner/edit/<%= element.id %>">Edit</a>
<a href="/owner/create">New</a>
<a href="/owner">Back</a>
