<div class="animated fadeIn">
  <div class="row">
    <!--/.col-->
    <div class="col-sm-6">
      <div class="card">
          <form novalidate  enctype="multipart/form-data" class="form-horizontal "
          (ngSubmit)="onFormSubmit(accountsForm)" 
          #accountsForm="ngForm">       
        <div class="card-header">
          <strong>Chart OF Account</strong>
          <small>Create</small>
        </div>
        <div class="card-block">                             
        
         
            <div class="form-group">
                <label for="inputaccountName">Account Name</label>
                <input type="text" class="form-control"
                  [(ngModel)] = "accounts.accountName"
                  id="inputaccountName"
                  name="accountName"
                  placeholder="">
              </div>
              <div class="form-group">             
                  <label for="categoryType">Select Category</label>
                  <select class="form-control" id="select"
                  [(ngModel)] = "accounts.categoryType" name = "categoryType">              
                    <option>Assets</option>
                    <option>Expense</option>
                    <option>Liability</option>
                    <option>Owners Equity</option>
                    <option>Revenue</option>              
                  </select>  
                 
                </div>
              <div class="form-group">
                  <label for="inputdesription">desription</label>
                  <input type="text" class="form-control"
                    [(ngModel)] = "accounts.desription"
                    id="inputdesription"
                    name="desription"
                    placeholder="">
                </div>
               <!-- <div class="form-group">
                    <label for="inputunderCategory">Under Category</label>
                    <input type="text" class="form-control"
                      [(ngModel)] = "accounts.underCategory"
                      id="inputunderCategory"
                      name="underCategory"
                      placeholder="">
                  </div>-->
                  <div class="form-group">             
                    <label for="underCategory">Under Category</label>
                    <select class="form-control" id="select"
                    [(ngModel)] = "accounts.underCategory" name = "underCategory">              
                      <option>Current Assets</option>
                      <option>Fixed Assets</option>
                      <option>Contra Assets</option>
                      <option>Contra Current Assets</option>
                      <option>Expense</option>
                      <option>Current Liability</option>
                      <option>Long term loan</option>
                      <option>Owners Equity</option>
                      <option>Income</option>              
                    </select>  
                   
                  </div>
               <!--   <div class="form-group">
                      <label for="inputnatureType">Nature Type</label>
                      <input type="text" class="form-control"
                        [(ngModel)] = "accounts.natureType"
                        id="inputnatureType"
                        name="natureType"
                        placeholder="">
                    </div>-->
    
       
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
        </div>
      </form>
      </div>
    </div>
    <!--/.col-->
    <div class="col-lg-6">
     <!-- <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Chart of Account
        </div>
        <div class="card-block">
          <table class="table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Acoount Name</th>                   
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let a of account">
                <td>{{a.categoryType}}</td>
                <td>{{a.accountName}}</td>               
                <td>                                                  
                  <a button type="button" class="btn btn-info btn-sm" routerLink="/accountings/chart-of-account-edit/{{a.id}}"><i class="icon-pencil"></i></a>
                  <a button type="button" class="btn btn-danger btn-sm" (click)="deleteAccount(a.id)"><i class="icon-trash"></i></a>
                </td>                
              </tr>              
           
            </tbody>
          </table>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>-->
      <h2>CHART OF ACCOUNT</h2>
                                        
  
      <ul class="heroes">
        <li *ngFor="let a of account"
          [class.selected]="a.chartOfAccountID === selectedId">
          <a [routerLink]="['/accountings/chart-of-account-edit/', a.chartOfAccountID]">
            <span class="badge">{{a.categoryType}}</span>{{ a.accountName }}
          </a>
          <button class="delete" title="delete witness"
          (click)="deleteAccount(a.chartOfAccountID)">x</button>
        </li>
      </ul>
          </div>
  </div>
 
  <!--/.row-->
</div>
