<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Income Statement
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Account</th>
              <th>Debit/Credit</th>                
              <th>Amount</th>     
              <th>Balance</th>        
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let s of income">
                  <td>{{s.accountnaturetype}}</td>
                  <td>{{s.accounttitle}}</td> 
                  <td>{{s.totalamount}}</td> 
                  <td>{{s.totalbalance}}</td> 
                  <td>
                      <span class="badge badge-success">Active</span>
                    </td>    
          
            </tr>         
                    
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>