


<div class="form-group row">
  <label class="col-md-3 form-control-label" for="select">Select Account</label>
  <div class="col-md-9">
      <select [(ngModel)]="accountName" (ngModelChange)="onChange($event)" class="form-control input-lg" size="1">          
          <option *ngFor="let a of account" [value]="a.accountName">
              {{a.accountName}}
          </option>
      </select>     
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Journals
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Date</th>
              <th>Transaction</th>
              <th>Journal Ref.</th>
              <th>Account</th>                
              <th>Dr. Amount</th>
              <th>Cr. Amount</th>                
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let j of _journals">
                  <td>{{j.l_jdate | date: 'dd/MM/yyyy'}}</td>
                  <td>{{j.l_transactionid}}</td>
                  <td>{{j.l_journalid}}</td> 
                  <td>{{j.l_accounttitle}}</td>                
                  
                  <td>{{j.l_debit_amount}}</td> 
                  
                  <td>{{j.l_credit_amount}}</td>                    
                  
                  <td>
                      <span class="badge badge-success">Active</span>
                  </td>    
          
            </tr>         
                    
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>