<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
<div class="animated fadeIn">
    <div class="card">
      <div class="card-header">
        <strong>Payment</strong>
        <small>Form</small>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-sm-6">
          <form novalidate  enctype="multipart/form-data" class="form-horizontal "
          (ngSubmit)="onFormSubmit(paymentForm)" 
          #paymentForm="ngForm">  
            <!--<div class="form-group">
                  <label for="name">Department ID</label>
                  <input [(ngModel)]="model.departmentID" type="number" name="departmentID" class="form-control" id="departmentID" placeholder="Department ID">                        
              </div>-->
           <!--   <div class="form-group">
                <label for="inputdate">Date</label>
                <input type="date" class="form-control"
                  [(ngModel)] = "transactions.date"
                  id="inputdate"
                  name="date"
                  placeholder="date">
              </div> 
              <div class="form-group">
                <label for="inputtitle">Title</label>
                <input type="text" class="form-control"
                  [(ngModel)] = "transactions.transactionTitle"
                  id="inputtitle"
                  name="text"
                  placeholder="title">
              </div>  -->
                   
             
              
      </form>
      </div>
      </div>
      
          <div class="card-footer">        
              <button (click)="onFormSubmit(paymentForm)"  type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>        
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
       </div>
      </div>
      </div>
    
    </div>
      
        
    
    