<div class="">
	<h1>New bill</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/bill/create" method="post">
				<div class="">
					<label for="">date</label>
					<input type="date" name="date" value="" required="true">
				</div>
				<div class="">
					<label for="">invoiceNo</label>
					<input type="text" name="invoiceNo" value="" required="true">
				</div>
				<div class="">
					<label for="">amount</label>
					<input type="number" name="amount" value="" required="true">
				</div>
				<div class="">
					<label for="">billID</label>
					<input type="number" name="billID" value="" required="false">
				</div>
				<div class="">
					<label for="">customerOrderID</label>
					<input type="number" name="customerOrderID" value="" required="false">
				</div>
			<button type="submit">Save bill</button>
		</form>
		<br />
		<a href="/bill">Index</a>
	</div>
</div>
