<h1>Show commissioned</h1>

	<p>
		<strong>commissionRate:</strong>
		<%= element.commissionRate %>
	</p>
	<p>
		<strong>commissionedID:</strong>
		<%= element.commissionedID %>
	</p>

<br>
<a href="/commissioned/edit/<%= element.id %>">Edit</a>
<a href="/commissioned/create">New</a>
<a href="/commissioned">Back</a>
