<div class="">
	<h1>New contractdetails</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/contractdetails/create" method="post">
				<div class="">
					<label for="">itemInfo</label>
					<input type="text" name="itemInfo" value="" required="true">
				</div>
				<div class="">
					<label for="">quantity</label>
					<input type="number" name="quantity" value="" required="true">
				</div>
				<div class="">
					<label for="">itemPrice</label>
					<input type="number" name="itemPrice" value="" required="true">
				</div>
				<div class="">
					<label for="">contractDetailsID</label>
					<input type="number" name="contractDetailsID" value="" required="false">
				</div>
				<div class="">
					<label for="">salesContractID</label>
					<input type="number" name="salesContractID" value="" required="true">
				</div>
			<button type="submit">Save contractdetails</button>
		</form>
		<br />
		<a href="/contractdetails">Index</a>
	</div>
</div>
