<div class="">
	<h1>New users</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/users/create" method="post">
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="false">
				</div>
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="true">
				</div>
				<div class="">
					<label for="">username</label>
					<input type="text" name="username" value="" required="true">
				</div>
				<div class="">
					<label for="">email</label>
					<input type="text" name="email" value="" required="true">
				</div>
				<div class="">
					<label for="">password</label>
					<input type="text" name="password" value="" required="true">
				</div>
				<div class="">
					<label for="">createdAt</label>
					<input type="datetime" name="createdAt" value="" required="false">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="datetime" name="updatedAt" value="" required="false">
				</div>
			<button type="submit">Save users</button>
		</form>
		<br />
		<a href="/users">Index</a>
	</div>
</div>
