<div class="">
	<h1>New vwCorporateCustomer</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/vwCorporateCustomer/create" method="post">
				<div class="">
					<label for="">clientID</label>
					<input type="number" name="clientID" value="" required="true">
				</div>
				<div class="">
					<label for="">date</label>
					<input type="date" name="date" value="" required="true">
				</div>
				<div class="">
					<label for="">companyName</label>
					<input type="text" name="companyName" value="" required="true">
				</div>
				<div class="">
					<label for="">contactPersonName</label>
					<input type="text" name="contactPersonName" value="" required="true">
				</div>
				<div class="">
					<label for="">designation</label>
					<input type="text" name="designation" value="" required="true">
				</div>
				<div class="">
					<label for="">contactNo</label>
					<input type="text" name="contactNo" value="" required="true">
				</div>
				<div class="">
					<label for="">emailAddress</label>
					<input type="text" name="emailAddress" value="" required="true">
				</div>
				<div class="">
					<label for="">website</label>
					<input type="text" name="website" value="" required="true">
				</div>
				<div class="">
					<label for="">addressLine1</label>
					<input type="text" name="addressLine1" value="" required="true">
				</div>
				<div class="">
					<label for="">addressLine2</label>
					<input type="text" name="addressLine2" value="" required="true">
				</div>
				<div class="">
					<label for="">postcode</label>
					<input type="text" name="postcode" value="" required="true">
				</div>
				<div class="">
					<label for="">city</label>
					<input type="text" name="city" value="" required="true">
				</div>
				<div class="">
					<label for="">country</label>
					<input type="text" name="country" value="" required="true">
				</div>
			<button type="submit">Save vwCorporateCustomer</button>
		</form>
		<br />
		<a href="/vwCorporateCustomer">Index</a>
	</div>
</div>
