<div class="">
	<h1>New joinvehicletoshipment</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/joinvehicletoshipment/create" method="post">
				<div class="">
					<label for="">shipmentID</label>
					<input type="number" name="shipmentID" value="" required="true">
				</div>
				<div class="">
					<label for="">vehicleID</label>
					<input type="number" name="vehicleID" value="" required="true">
				</div>
			<button type="submit">Save joinvehicletoshipment</button>
		</form>
		<br />
		<a href="/joinvehicletoshipment">Index</a>
	</div>
</div>
