<h1>Show joinvehicletoshipment</h1>

	<p>
		<strong>shipmentID:</strong>
		<%= element.shipmentID %>
	</p>
	<p>
		<strong>vehicleID:</strong>
		<%= element.vehicleID %>
	</p>

<br>
<a href="/joinvehicletoshipment/edit/<%= element.id %>">Edit</a>
<a href="/joinvehicletoshipment/create">New</a>
<a href="/joinvehicletoshipment">Back</a>
