<div class="">
	<h1>New cnfagent</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/cnfagent/create" method="post">
				<div class="">
					<label for="">cNFAgentID</label>
					<input type="number" name="cNFAgentID" value="" required="false">
				</div>
			<button type="submit">Save cnfagent</button>
		</form>
		<br />
		<a href="/cnfagent">Index</a>
	</div>
</div>
