<div class="">
  <h1>New cnfagent</h1>

  <div class="body">
    <form class="" action="/cnfagent/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">cNFAgentID</label>
          <input type="number" name="cNFAgentID" value="<%= element.cNFAgentID %>" required="false">
        </div>
      <button type="submit">Update cnfagent</button>
    </form>
    <br />
    <a href="/cnfagent">Index</a>
  </div>
</div>