<h1>Show cnfagent</h1>

	<p>
		<strong>cNFAgentID:</strong>
		<%= element.cNFAgentID %>
	</p>

<br>
<a href="/cnfagent/edit/<%= element.id %>">Edit</a>
<a href="/cnfagent/create">New</a>
<a href="/cnfagent">Back</a>
