<div class="">
	<h1>New warehouse</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/warehouse/create" method="post">
				<div class="">
					<label for="">contactNo</label>
					<input type="text" name="contactNo" value="" required="true">
				</div>
				<div class="">
					<label for="">location</label>
					<input type="text" name="location" value="" required="true">
				</div>
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="true">
				</div>
				<div class="">
					<label for="">factoryID</label>
					<input type="number" name="factoryID" value="" required="false">
				</div>
				<div class="">
					<label for="">inventoryDate</label>
					<input type="date" name="inventoryDate" value="" required="true">
				</div>
				<div class="">
					<label for="">warehouseID</label>
					<input type="number" name="warehouseID" value="" required="false">
				</div>
				<div class="">
					<label for="">deliveryID</label>
					<input type="number" name="deliveryID" value="" required="true">
				</div>
				<div class="">
					<label for="">createdAt</label>
					<input type="" name="createdAt" value="" required="true">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="" name="updatedAt" value="" required="true">
				</div>
			<button type="submit">Save warehouse</button>
		</form>
		<br />
		<a href="/warehouse">Index</a>
	</div>
</div>
