<div class="">
	<h1>New billofentry</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/billofentry/create" method="post">
				<div class="">
					<label for="">date</label>
					<input type="date" name="date" value="" required="true">
				</div>
				<div class="">
					<label for="">quantity</label>
					<input type="number" name="quantity" value="" required="true">
				</div>
				<div class="">
					<label for="">registrationNo</label>
					<input type="text" name="registrationNo" value="" required="true">
				</div>
				<div class="">
					<label for="">itemInvoiceValue</label>
					<input type="number" name="itemInvoiceValue" value="" required="true">
				</div>
				<div class="">
					<label for="">totalTaxAmount</label>
					<input type="number" name="totalTaxAmount" value="" required="true">
				</div>
				<div class="">
					<label for="">totalAccessableValue</label>
					<input type="number" name="totalAccessableValue" value="" required="true">
				</div>
				<div class="">
					<label for="">billOfEntryID</label>
					<input type="number" name="billOfEntryID" value="" required="false">
				</div>
				<div class="">
					<label for="">letterCreditID</label>
					<input type="number" name="letterCreditID" value="" required="true">
				</div>
				<div class="">
					<label for="">cNFAgentID</label>
					<input type="number" name="cNFAgentID" value="" required="true">
				</div>
			<button type="submit">Save billofentry</button>
		</form>
		<br />
		<a href="/billofentry">Index</a>
	</div>
</div>
