<div class="">
	<h1>New purchaserequestcart</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/purchaserequestcart/create" method="post">
				<div class="">
					<label for="">itemID</label>
					<input type="number" name="itemID" value="" required="true">
				</div>
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="true">
				</div>
				<div class="">
					<label for="">quantity</label>
					<input type="number" name="quantity" value="" required="true">
				</div>
				<div class="">
					<label for="">weight</label>
					<input type="number" name="weight" value="" required="true">
				</div>
				<div class="">
					<label for="">purchaseRequestCartID</label>
					<input type="number" name="purchaseRequestCartID" value="" required="false">
				</div>
				<div class="">
					<label for="">purchaseRequestID</label>
					<input type="number" name="purchaseRequestID" value="" required="true">
				</div>
			<button type="submit">Save purchaserequestcart</button>
		</form>
		<br />
		<a href="/purchaserequestcart">Index</a>
	</div>
</div>
