<div class="">
	<h1>New userroles</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/userroles/create" method="post">
				<div class="">
					<label for="">createdAt</label>
					<input type="datetime" name="createdAt" value="" required="false">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="datetime" name="updatedAt" value="" required="false">
				</div>
				<div class="">
					<label for="">roleId</label>
					<input type="number" name="roleId" value="" required="false">
				</div>
				<div class="">
					<label for="">userId</label>
					<input type="number" name="userId" value="" required="false">
				</div>
			<button type="submit">Save userroles</button>
		</form>
		<br />
		<a href="/userroles">Index</a>
	</div>
</div>
