<div class="">
	<h1>New purchaseorder</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/purchaseorder/create" method="post">
				<div class="">
					<label for="">date</label>
					<input type="date" name="date" value="" required="true">
				</div>
				<div class="">
					<label for="">discount</label>
					<input type="number" name="discount" value="" required="true">
				</div>
				<div class="">
					<label for="">orderTotal</label>
					<input type="number" name="orderTotal" value="" required="true">
				</div>
				<div class="">
					<label for="">shippingDate</label>
					<input type="date" name="shippingDate" value="" required="true">
				</div>
				<div class="">
					<label for="">tex</label>
					<input type="number" name="tex" value="" required="true">
				</div>
				<div class="">
					<label for="">vat</label>
					<input type="number" name="vat" value="" required="true">
				</div>
				<div class="">
					<label for="">netTotal</label>
					<input type="number" name="netTotal" value="" required="true">
				</div>
				<div class="">
					<label for="">purchaseOrderID</label>
					<input type="number" name="purchaseOrderID" value="" required="false">
				</div>
				<div class="">
					<label for="">salesContractID</label>
					<input type="number" name="salesContractID" value="" required="true">
				</div>
				<div class="">
					<label for="">localID</label>
					<input type="number" name="localID" value="" required="true">
				</div>
				<div class="">
					<label for="">purchaseRequestID</label>
					<input type="number" name="purchaseRequestID" value="" required="true">
				</div>
				<div class="">
					<label for="">qutationID</label>
					<input type="number" name="qutationID" value="" required="true">
				</div>
			<button type="submit">Save purchaseorder</button>
		</form>
		<br />
		<a href="/purchaseorder">Index</a>
	</div>
</div>
