<div class="">
	<h1>New financialyear</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/financialyear/create" method="post">
				<div class="">
					<label for="">startDate</label>
					<input type="date" name="startDate" value="" required="true">
				</div>
				<div class="">
					<label for="">endDate</label>
					<input type="date" name="endDate" value="" required="true">
				</div>
				<div class="">
					<label for="">financialYearID</label>
					<input type="number" name="financialYearID" value="" required="false">
				</div>
			<button type="submit">Save financialyear</button>
		</form>
		<br />
		<a href="/financialyear">Index</a>
	</div>
</div>
