<h1>Show financialyear</h1>

	<p>
		<strong>startDate:</strong>
		<%= element.startDate %>
	</p>
	<p>
		<strong>endDate:</strong>
		<%= element.endDate %>
	</p>
	<p>
		<strong>financialYearID:</strong>
		<%= element.financialYearID %>
	</p>

<br>
<a href="/financialyear/edit/<%= element.id %>">Edit</a>
<a href="/financialyear/create">New</a>
<a href="/financialyear">Back</a>
