<div class="">
	<h1>New roles</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/roles/create" method="post">
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="false">
				</div>
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="true">
				</div>
				<div class="">
					<label for="">createdAt</label>
					<input type="datetime" name="createdAt" value="" required="false">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="datetime" name="updatedAt" value="" required="false">
				</div>
			<button type="submit">Save roles</button>
		</form>
		<br />
		<a href="/roles">Index</a>
	</div>
</div>
