<div class="">
	<h1>New vehicle</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/vehicle/create" method="post">
				<div class="">
					<label for="">type</label>
					<input type="text" name="type" value="" required="true">
				</div>
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="true">
				</div>
				<div class="">
					<label for="">loadingCapacity</label>
					<input type="text" name="loadingCapacity" value="" required="true">
				</div>
				<div class="">
					<label for="">vehicleNo</label>
					<input type="text" name="vehicleNo" value="" required="true">
				</div>
				<div class="">
					<label for="">driverName</label>
					<input type="text" name="driverName" value="" required="true">
				</div>
				<div class="">
					<label for="">vehicleID</label>
					<input type="number" name="vehicleID" value="" required="false">
				</div>
			<button type="submit">Save vehicle</button>
		</form>
		<br />
		<a href="/vehicle">Index</a>
	</div>
</div>
