<div class="">
	<h1>New company</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/company/create" method="post">
				<div class="">
					<label for="">companyName</label>
					<input type="text" name="companyName" value="" required="true">
				</div>
				<div class="">
					<label for="">contactPersonName</label>
					<input type="text" name="contactPersonName" value="" required="true">
				</div>
				<div class="">
					<label for="">designation</label>
					<input type="text" name="designation" value="" required="true">
				</div>
				<div class="">
					<label for="">contactNo</label>
					<input type="text" name="contactNo" value="" required="true">
				</div>
				<div class="">
					<label for="">emailAddress</label>
					<input type="text" name="emailAddress" value="" required="true">
				</div>
				<div class="">
					<label for="">website</label>
					<input type="text" name="website" value="" required="true">
				</div>
				<div class="">
					<label for="">companyID</label>
					<input type="number" name="companyID" value="" required="false">
				</div>
			<button type="submit">Save company</button>
		</form>
		<br />
		<a href="/company">Index</a>
	</div>
</div>
