<div class="">
	<h1>New stocklevel</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/stocklevel/create" method="post">
				<div class="">
					<label for="">stockTrackingDate</label>
					<input type="date" name="stockTrackingDate" value="" required="true">
				</div>
				<div class="">
					<label for="">quantityInStock</label>
					<input type="number" name="quantityInStock" value="" required="true">
				</div>
				<div class="">
					<label for="">stockLevelID</label>
					<input type="number" name="stockLevelID" value="" required="false">
				</div>
				<div class="">
					<label for="">itemID</label>
					<input type="number" name="itemID" value="" required="false">
				</div>
			<button type="submit">Save stocklevel</button>
		</form>
		<br />
		<a href="/stocklevel">Index</a>
	</div>
</div>
