<div class="">
	<h1>New salaryprofile</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/salaryprofile/create" method="post">
				<div class="">
					<label for="">overtimeRate</label>
					<input type="number" name="overtimeRate" value="" required="true">
				</div>
				<div class="">
					<label for="">profileType</label>
					<input type="text" name="profileType" value="" required="true">
				</div>
				<div class="">
					<label for="">providentFund</label>
					<input type="number" name="providentFund" value="" required="true">
				</div>
				<div class="">
					<label for="">taxRate</label>
					<input type="number" name="taxRate" value="" required="true">
				</div>
				<div class="">
					<label for="">salaryProfileID</label>
					<input type="number" name="salaryProfileID" value="" required="false">
				</div>
				<div class="">
					<label for="">employeeID</label>
					<input type="number" name="employeeID" value="" required="true">
				</div>
				<div class="">
					<label for="">hourlyRate</label>
					<input type="number" name="hourlyRate" value="" required="true">
				</div>
				<div class="">
					<label for="">commissionRate</label>
					<input type="number" name="commissionRate" value="" required="true">
				</div>
				<div class="">
					<label for="">paymentType</label>
					<input type="text" name="paymentType" value="" required="true">
				</div>
			<button type="submit">Save salaryprofile</button>
		</form>
		<br />
		<a href="/salaryprofile">Index</a>
	</div>
</div>
