<div class="card">
  <div class="card-header">
    <strong>Branch</strong>
    <small>Details</small>
  </div>
  <div class="card-body">
<div class ="panel panel-default" *ngIf=branch>
    <div><span>Branch:{{branch.branchName}}</span></div>
    <div><span>Address: {{branch.address}}</span></div>
    <div><span>{{branch.city}}</span></div>
    <div>{{getPerson(branch.employeeID)}}</div>
    <div class="heroes" *ngIf=person>
      <li>
         <span class="badge" >Manager:</span>                                     
         <span class="">{{person.title}} {{person.firstName}} {{person.lastName}}</span>
        </li>
        </div>
</div>

</div>

<div class="animated fadeIn">  
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          
          <div class="card-body">
               <h2>Employee List</h2>
                <p>Employee Data:</p>            
                <table class="table">
                <thead>
                    <tr>
                    <th>Title</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Mobile No</th>
                    <th>Designation</th>
                    <th>Status</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of model">
                    <td>{{m.title}}</td>
                    <td>{{m.firstName}}</td>
                    <td>{{m.lastName}}</td>
                    <td>{{m.mobileNo}}</td>                            
                    <td>{{m.designation}}</td>                            
                    <td>{{m.status}}</td>                            
                    <td>
                        <button type="button" class="btn btn-success" routerLink="/payrolls/show/{{m.employeeID}}"><i class="icon-magnifier"></i>&nbsp;</button>
                      
                    </td>
                    </tr>      
                </tbody>
                </table>

            </div>
          </div>
        </div>
      </div> <!--/.col-->
    </div><!--/.row-->
    
<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-primary">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <h4 class="mb-0">9.823</h4>
            <p>Members online</p>
          </div>
          <div class="chart-wrapper px-3" style="height:70px;">
            <canvas baseChart class="chart"
            [datasets]="lineChart1Data"
            [labels]="lineChart1Labels"
            [options]="lineChart1Options"
            [colors]="lineChart1Colours"
            [legend]="lineChart1Legend"
            [chartType]="lineChart1Type"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-info">
          <div class="card-body pb-0">
            <button type="button" class="btn btn-transparent p-0 float-right">
              <i class="icon-location-pin"></i>
            </button>
            <h4 class="mb-0">9.823</h4>
            <p>Members online</p>
          </div>
          <div class="chart-wrapper px-3" style="height:70px;">
            <canvas baseChart class="chart"
            [datasets]="lineChart2Data"
            [labels]="lineChart2Labels"
            [options]="lineChart2Options"
            [colors]="lineChart2Colours"
            [legend]="lineChart2Legend"
            [chartType]="lineChart2Type"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-warning">
          <div class="card-body pb-0">
            <div class="btn-group float-right">
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <h4 class="mb-0">9.823</h4>
            <p>Members online</p>
          </div>
          <div class="chart-wrapper" style="height:70px;">
            <canvas baseChart class="chart"
            [datasets]="lineChart3Data"
            [labels]="lineChart3Labels"
            [options]="lineChart3Options"
            [colors]="lineChart3Colours"
            [legend]="lineChart3Legend"
            [chartType]="lineChart3Type"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div><!--/.col-->
      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-danger">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                <i class="icon-settings"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
            <h4 class="mb-0">9.823</h4>
            <p>Members online</p>
          </div>
          <div class="chart-wrapper px-3" style="height:70px;">
            <canvas baseChart class="chart"
            [datasets]="barChart1Data"
            [labels]="barChart1Labels"
            [options]="barChart1Options"
            [colors]="barChart1Colours"
            [legend]="barChart1Legend"
            [chartType]="barChart1Type"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div><!--/.col-->
    </div><!--/.row-->
    <div class="row">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-header bg-primary">
            <div class="font-weight-bold">
              <span>SALE</span>
              <span class="float-right">$1.890,65</span>
            </div>
            <div>
              <span>
                <small>Today 6:43 AM</small>
              </span>
              <span class="float-right">
                <small>+432,50 (15,78%)</small>
              </span>
            </div>
            <div class="chart-wrapper" style="height:38px;">
              <canvas baseChart class="chart"
              [datasets]="lineChart4Data"
              [labels]="lineChart4Labels"
              [options]="lineChart4Options"
              [colors]="lineChart4Colours"
              [legend]="lineChart4Legend"
              [chartType]="lineChart4Type"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="chart-wrapper" style="height:38px;">
              <canvas baseChart class="chart"
              [datasets]="barChart2Data"
              [labels]="barChart2Labels"
              [options]="barChart2Options"
              [colors]="barChart2Colours"
              [legend]="barChart2Legend"
              [chartType]="barChart2Type"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-header bg-danger">
            <div class="font-weight-bold">
              <span>SALE</span>
              <span class="float-right">$1.890,65</span>
            </div>
            <div>
              <span>
                <small>Today 6:43 AM</small>
              </span>
              <span class="float-right">
                <small>+432,50 (15,78%)</small>
              </span>
            </div>
            <div class="chart-wrapper" style="height:38px;">
              <canvas baseChart class="chart"
              [datasets]="lineChart4Data"
              [labels]="lineChart4Labels"
              [options]="lineChart4Options"
              [colors]="lineChart4Colours"
              [legend]="lineChart4Legend"
              [chartType]="lineChart4Type"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="chart-wrapper" style="height:38px;">
              <canvas baseChart class="chart"
              [datasets]="barChart2Data"
              [labels]="barChart2Labels"
              [options]="barChart2Options"
              [colors]="barChart2Colours"
              [legend]="barChart2Legend"
              [chartType]="barChart2Type"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-header bg-success">
            <div class="font-weight-bold">
              <span>SALE</span>
              <span class="float-right">$1.890,65</span>
            </div>
            <div>
              <span>
                <small>Today 6:43 AM</small>
              </span>
              <span class="float-right">
                <small>+432,50 (15,78%)</small>
              </span>
            </div>
            <div class="chart-wrapper" style="height:38px;">
              <canvas baseChart class="chart"
              [datasets]="lineChart4Data"
              [labels]="lineChart4Labels"
              [options]="lineChart4Options"
              [colors]="lineChart4Colours"
              [legend]="lineChart4Legend"
              [chartType]="lineChart4Type"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="chart-wrapper" style="height:38px;">
              <canvas baseChart class="chart"
              [datasets]="barChart2Data"
              [labels]="barChart2Labels"
              [options]="barChart2Options"
              [colors]="barChart2Colours"
              [legend]="barChart2Legend"
              [chartType]="barChart2Type"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-header bg-warning">
            <div class="font-weight-bold">
              <span>SALE</span>
              <span class="float-right">$1.890,65</span>
            </div>
            <div>
              <span>
                <small>Today 6:43 AM</small>
              </span>
              <span class="float-right">
                <small>+432,50 (15,78%)</small>
              </span>
            </div>
            <div class="chart-wrapper" style="height:38px;">
              <canvas baseChart class="chart"
              [datasets]="lineChart4Data"
              [labels]="lineChart4Labels"
              [options]="lineChart4Options"
              [colors]="lineChart4Colours"
              [legend]="lineChart4Legend"
              [chartType]="lineChart4Type"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            </div>
            <div class="chart-wrapper" style="height:38px;">
              <canvas baseChart class="chart"
              [datasets]="barChart2Data"
              [labels]="barChart2Labels"
              [options]="barChart2Options"
              [colors]="barChart2Colours"
              [legend]="barChart2Legend"
              [chartType]="barChart2Type"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
      <a class ="btn btn-info" (click)="goBack()">Back</a>     
   
  </div>
</div>