<div class="animated fadeIn">
  <div class="row">
      <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Setup a Business</strong>
                  </div>
        <div class="card-body">
          <P> <strong>Setup a Business with a business information, origanizationa, branch, department, factory or warehouse.</strong>
          </P>
         
        <div class="card-footer">
          <button type="submit"   routerLinkActive="active" [routerLink]="['/organizations/profile-step2']"  class="btn btn-primary">
            <i class="fa fa-dot-circle-o"></i>Get Started</button>          
       </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
