<div class="">
	<h1>New person</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/person/create" method="post">
				<div class="">
					<label for="">title</label>
					<input type="text" name="title" value="" required="true">
				</div>
				<div class="">
					<label for="">firstName</label>
					<input type="text" name="firstName" value="" required="true">
				</div>
				<div class="">
					<label for="">lastName</label>
					<input type="text" name="lastName" value="" required="true">
				</div>
				<div class="">
					<label for="">dateOfBirth</label>
					<input type="date" name="dateOfBirth" value="" required="true">
				</div>
				<div class="">
					<label for="">gender</label>
					<input type="text" name="gender" value="" required="true">
				</div>
				<div class="">
					<label for="">emailAddress</label>
					<input type="text" name="emailAddress" value="" required="true">
				</div>
				<div class="">
					<label for="">mobileNo</label>
					<input type="text" name="mobileNo" value="" required="true">
				</div>
				<div class="">
					<label for="">maritalStatus</label>
					<input type="text" name="maritalStatus" value="" required="true">
				</div>
				<div class="">
					<label for="">personID</label>
					<input type="number" name="personID" value="" required="false">
				</div>
			<button type="submit">Save person</button>
		</form>
		<br />
		<a href="/person">Index</a>
	</div>
</div>
