<div class="">
	<h1>New localvehicle</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/localvehicle/create" method="post">
				<div class="">
					<label for="">localVehicleID</label>
					<input type="number" name="localVehicleID" value="" required="false">
				</div>
				<div class="">
					<label for="">localShipmentID</label>
					<input type="number" name="localShipmentID" value="" required="true">
				</div>
			<button type="submit">Save localvehicle</button>
		</form>
		<br />
		<a href="/localvehicle">Index</a>
	</div>
</div>
