<h1>Show localvehicle</h1>

	<p>
		<strong>localVehicleID:</strong>
		<%= element.localVehicleID %>
	</p>
	<p>
		<strong>localShipmentID:</strong>
		<%= element.localShipmentID %>
	</p>

<br>
<a href="/localvehicle/edit/<%= element.id %>">Edit</a>
<a href="/localvehicle/create">New</a>
<a href="/localvehicle">Back</a>
