<div class="">
	<h1>New item</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/item/create" method="post">
				<div class="">
					<label for="">barcode</label>
					<input type="text" name="barcode" value="" required="true">
				</div>
				<div class="">
					<label for="">description</label>
					<input type="text" name="description" value="" required="true">
				</div>
				<div class="">
					<label for="">discount</label>
					<input type="number" name="discount" value="" required="true">
				</div>
				<div class="">
					<label for="">images</label>
					<input type="text" name="images" value="" required="true">
				</div>
				<div class="">
					<label for="">itemType</label>
					<input type="text" name="itemType" value="" required="true">
				</div>
				<div class="">
					<label for="">maxOrderQuantity</label>
					<input type="number" name="maxOrderQuantity" value="" required="true">
				</div>
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="false">
				</div>
				<div class="">
					<label for="">qrCode</label>
					<input type="text" name="qrCode" value="" required="true">
				</div>
				<div class="">
					<label for="">salePrice</label>
					<input type="number" name="salePrice" value="" required="true">
				</div>
				<div class="">
					<label for="">unitPrice</label>
					<input type="number" name="unitPrice" value="" required="true">
				</div>
				<div class="">
					<label for="">publish</label>
					<input type="checkbox" name="publish" value="" required="true">
				</div>
				<div class="">
					<label for="">categoryID</label>
					<input type="number" name="categoryID" value="" required="false">
				</div>
				<div class="">
					<label for="">itemID</label>
					<input type="number" name="itemID" value="" required="false">
				</div>
				<div class="">
					<label for="">sku</label>
					<input type="text" name="sku" value="" required="true">
				</div>
			<button type="submit">Save item</button>
		</form>
		<br />
		<a href="/item">Index</a>
	</div>
</div>
