<div class="">
	<h1>New billingaddress</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/billingaddress/create" method="post">
				<div class="">
					<label for="">addressLine1</label>
					<input type="text" name="addressLine1" value="" required="true">
				</div>
				<div class="">
					<label for="">addressLine2</label>
					<input type="text" name="addressLine2" value="" required="true">
				</div>
				<div class="">
					<label for="">city</label>
					<input type="text" name="city" value="" required="true">
				</div>
				<div class="">
					<label for="">country</label>
					<input type="text" name="country" value="" required="true">
				</div>
				<div class="">
					<label for="">name</label>
					<input type="text" name="name" value="" required="true">
				</div>
				<div class="">
					<label for="">postcode</label>
					<input type="text" name="postcode" value="" required="true">
				</div>
				<div class="">
					<label for="">contactNo</label>
					<input type="text" name="contactNo" value="" required="true">
				</div>
				<div class="">
					<label for="">billingAddressID</label>
					<input type="number" name="billingAddressID" value="" required="false">
				</div>
				<div class="">
					<label for="">customerOrderID</label>
					<input type="number" name="customerOrderID" value="" required="false">
				</div>
			<button type="submit">Save billingaddress</button>
		</form>
		<br />
		<a href="/billingaddress">Index</a>
	</div>
</div>
