<div class="">
	<h1>New qutation</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/qutation/create" method="post">
				<div class="">
					<label for="">itemID</label>
					<input type="number" name="itemID" value="" required="true">
				</div>
				<div class="">
					<label for="">quantity</label>
					<input type="number" name="quantity" value="" required="true">
				</div>
				<div class="">
					<label for="">price</label>
					<input type="number" name="price" value="" required="true">
				</div>
				<div class="">
					<label for="">approved</label>
					<input type="checkbox" name="approved" value="" required="true">
				</div>
				<div class="">
					<label for="">qutationID</label>
					<input type="number" name="qutationID" value="" required="false">
				</div>
				<div class="">
					<label for="">purchaseRequestID</label>
					<input type="number" name="purchaseRequestID" value="" required="true">
				</div>
				<div class="">
					<label for="">supplierID</label>
					<input type="number" name="supplierID" value="" required="true">
				</div>
				<div class="">
					<label for="">purchaseRequestCartID</label>
					<input type="number" name="purchaseRequestCartID" value="" required="true">
				</div>
			<button type="submit">Save qutation</button>
		</form>
		<br />
		<a href="/qutation">Index</a>
	</div>
</div>
