<div class="">
	<h1>New lettercredit</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/lettercredit/create" method="post">
				<div class="">
					<label for="">date</label>
					<input type="date" name="date" value="" required="true">
				</div>
				<div class="">
					<label for="">HSCode</label>
					<input type="text" name="HSCode" value="" required="true">
				</div>
				<div class="">
					<label for="">IRCERCNo</label>
					<input type="text" name="IRCERCNo" value="" required="true">
				</div>
				<div class="">
					<label for="">LCAFNo</label>
					<input type="text" name="LCAFNo" value="" required="true">
				</div>
				<div class="">
					<label for="">LCAFDate</label>
					<input type="date" name="LCAFDate" value="" required="true">
				</div>
				<div class="">
					<label for="">LCDate</label>
					<input type="date" name="LCDate" value="" required="true">
				</div>
				<div class="">
					<label for="">LCNo</label>
					<input type="text" name="LCNo" value="" required="true">
				</div>
				<div class="">
					<label for="">nameOfCarrier</label>
					<input type="text" name="nameOfCarrier" value="" required="true">
				</div>
				<div class="">
					<label for="">nationality</label>
					<input type="text" name="nationality" value="" required="true">
				</div>
				<div class="">
					<label for="">placeOfLoading</label>
					<input type="text" name="placeOfLoading" value="" required="true">
				</div>
				<div class="">
					<label for="">placeOfUnloading</label>
					<input type="text" name="placeOfUnloading" value="" required="true">
				</div>
				<div class="">
					<label for="">vatRegistrationNo</label>
					<input type="text" name="vatRegistrationNo" value="" required="true">
				</div>
				<div class="">
					<label for="">currency</label>
					<input type="text" name="currency" value="" required="true">
				</div>
				<div class="">
					<label for="">insuranceCoverNoteNo</label>
					<input type="text" name="insuranceCoverNoteNo" value="" required="true">
				</div>
				<div class="">
					<label for="">recevingBank</label>
					<input type="text" name="recevingBank" value="" required="true">
				</div>
				<div class="">
					<label for="">letterCreditID</label>
					<input type="number" name="letterCreditID" value="" required="false">
				</div>
				<div class="">
					<label for="">insuranceID</label>
					<input type="number" name="insuranceID" value="" required="true">
				</div>
				<div class="">
					<label for="">subSidiaryAccountID</label>
					<input type="number" name="subSidiaryAccountID" value="" required="true">
				</div>
			<button type="submit">Save lettercredit</button>
		</form>
		<br />
		<a href="/lettercredit">Index</a>
	</div>
</div>
