<div class="">
	<h1>New purchaserequest</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/purchaserequest/create" method="post">
				<div class="">
					<label for="">purchaseRequestID</label>
					<input type="number" name="purchaseRequestID" value="" required="false">
				</div>
				<div class="">
					<label for="">departmentID</label>
					<input type="number" name="departmentID" value="" required="true">
				</div>
				<div class="">
					<label for="">date</label>
					<input type="date" name="date" value="" required="true">
				</div>
				<div class="">
					<label for="">status</label>
					<input type="text" name="status" value="" required="true">
				</div>
			<button type="submit">Save purchaserequest</button>
		</form>
		<br />
		<a href="/purchaserequest">Index</a>
	</div>
</div>
