<div class="">
	<h1>New vwSalaryStructureMonthly</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/vwSalaryStructureMonthly/create" method="post">
				<div class="">
					<label for="">per_name</label>
					<input type="" name="per_name" value="" required="true">
				</div>
				<div class="">
					<label for="">designation</label>
					<input type="text" name="designation" value="" required="true">
				</div>
				<div class="">
					<label for="">status</label>
					<input type="text" name="status" value="" required="true">
				</div>
				<div class="">
					<label for="">overtimeRate</label>
					<input type="number" name="overtimeRate" value="" required="true">
				</div>
				<div class="">
					<label for="">profileType</label>
					<input type="text" name="profileType" value="" required="true">
				</div>
				<div class="">
					<label for="">providentFund</label>
					<input type="number" name="providentFund" value="" required="true">
				</div>
				<div class="">
					<label for="">taxRate</label>
					<input type="number" name="taxRate" value="" required="true">
				</div>
				<div class="">
					<label for="">hourlyRate</label>
					<input type="number" name="hourlyRate" value="" required="true">
				</div>
				<div class="">
					<label for="">commissionRate</label>
					<input type="number" name="commissionRate" value="" required="true">
				</div>
				<div class="">
					<label for="">paymentType</label>
					<input type="text" name="paymentType" value="" required="true">
				</div>
				<div class="">
					<label for="">basicSalary</label>
					<input type="number" name="basicSalary" value="" required="true">
				</div>
				<div class="">
					<label for="">convince</label>
					<input type="number" name="convince" value="" required="true">
				</div>
				<div class="">
					<label for="">festivalBonus</label>
					<input type="number" name="festivalBonus" value="" required="true">
				</div>
				<div class="">
					<label for="">houseRent</label>
					<input type="number" name="houseRent" value="" required="true">
				</div>
				<div class="">
					<label for="">medicalAllowance</label>
					<input type="number" name="medicalAllowance" value="" required="true">
				</div>
				<div class="">
					<label for="">otherAllowance</label>
					<input type="number" name="otherAllowance" value="" required="true">
				</div>
				<div class="">
					<label for="">grosssalary</label>
					<input type="number" name="grosssalary" value="" required="true">
				</div>
				<div class="">
					<label for="">salaryProfileID</label>
					<input type="number" name="salaryProfileID" value="" required="true">
				</div>
				<div class="">
					<label for="">employeeID</label>
					<input type="number" name="employeeID" value="" required="true">
				</div>
			<button type="submit">Save vwSalaryStructureMonthly</button>
		</form>
		<br />
		<a href="/vwSalaryStructureMonthly">Index</a>
	</div>
</div>
