<div class="">
	<h1>New journal</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/journal/create" method="post">
				<div class="">
					<label for="">amount</label>
					<input type="number" name="amount" value="" required="true">
				</div>
				<div class="">
					<label for="">debitCredit</label>
					<input type="text" name="debitCredit" value="" required="true">
				</div>
				<div class="">
					<label for="">invoiceNo</label>
					<input type="text" name="invoiceNo" value="" required="true">
				</div>
				<div class="">
					<label for="">journalID</label>
					<input type="number" name="journalID" value="" required="false">
				</div>
				<div class="">
					<label for="">chartOfAccountID</label>
					<input type="number" name="chartOfAccountID" value="" required="false">
				</div>
				<div class="">
					<label for="">subSidiaryAccountID</label>
					<input type="number" name="subSidiaryAccountID" value="" required="true">
				</div>
				<div class="">
					<label for="">transactionID</label>
					<input type="number" name="transactionID" value="" required="false">
				</div>
				<div class="">
					<label for="">particulars</label>
					<input type="text" name="particulars" value="" required="true">
				</div>
			<button type="submit">Save journal</button>
		</form>
		<br />
		<a href="/journal">Index</a>
	</div>
</div>
